// configurações da home
#img-feedback img {
    height: 15em;
    width: 15em;
}

#estrelas img {
    width: 1.5em;
}

@media (min-width: 1025px) {
    .img_restaurante img,
    .img_restaurante_sobre_nos img,
    .img-sec-quatro img{
        max-width: 50vw;
    }

    .img-sec-tres img {
        max-width: 40vw;
    }
}
