// neste arquivo colocarei as configs de scss do componente layout, farei com scss pois ele me dá mais liberdade etc

// navbar
.navbar-logo {
    max-width: 200px;
    height: auto;
}

// rodapé
#icones-dowload img {
 width: 10em;
}