// Definindo variáveis personalizadas do Bootstrap
$primary: #8C6342;  // cor primária
$secondary: #F9EED9; // cor secundária
$dark: #111111;  // cor para títulos
$light: #333333; // cor para descrições

@use "bootstrap/scss/bootstrap";
