// !! passos necessários em ordem para realizar a alteração de váriaveis do bootstrap

// !! primeiro, Importa as funções necessárias do Bootstrap
@import '@bootstrap/functions';

// !! Depois Importa os mixins para que possam ser usados nas variáveis
@import '@bootstrap/mixins';
// carregando o main, ele carrega as config das tipografias, aplica nas tag html, e estiliza algumas tags da navbar e rodapé
@import "partials/main";
@import "partials/typography";
// chamando o scss da home já aqui, pois o app.scss eu chamo em todos os blade da minha página
@import "partials/home";
// chamando o scss do produto, apenas para carregar as alterações da imagem dele
@import "partials/product";

// Agora você pode sobrescrever as variáveis
$primary: #8C6342;  // cor primária
$secondary: #F9EED9; // cor secundária
$dark: #111111;  // cor para títulos
$light: #333333; // cor para descrições

// Sobrescreve as cores do navbar escuro 
// ?? para alterar as cores do navbar-dark, é necessário atingir as váriaveis que o controlam, assim, consigo definir a cor que quero para eles
$navbar-dark-color: $secondary;     // Cor do texto

//não faz muito efeito quando ativo, mas é possível alterar isso também $navbar-dark-bg: $primary;  Cor de fundo do navbar

// !! após sobrescrever as váriaveis, Importa as variáveis depois dos mixins
@import '@bootstrap/variables';

// Finalmente, importa o restante do Bootstrap
@import '@bootstrap/bootstrap';